.recipeList {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 5rem 2rem;
}

.recipeList li {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  color: #fff;
  font-size: 2rem;
  transition: all .3s;
}

.recipeList li:hover {
  box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
  transform: scale(1.02);
}

.recipeList li::before {
  position: absolute;
  content: '';
  display: block;
  background: rgba(0, 0, 0, .4);
  width: 100%;
  height: 100%;
}

.recipeList .textWr {
  position: absolute;
  inset: 0;
  padding: 3rem;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.recipeList .textWr span {
  margin-top: auto;
  margin-left: auto;
}

.recipeList img {
  width: 100%;
  aspect-ratio: 1/1.3;
  object-fit: cover;

}

@media (max-width: 767px) {
  .recipeList {
    row-gap: 3rem;
    margin-top: 3rem;
  }

  .recipeList li {
    font-size: 1.6rem;
  }

  .recipeList .textWr {
    padding: 2rem;
  }
}