.steps {
  display: flex;
  gap: 2rem;
  font-size: var(--title-medium);
}

.black {
  color: var(--color-black);
  font-weight: bold;
}

.gray {
  color: var(--color-gray-100);
}

.step:not(:last-child)::after {
  content: ">";
  color: var(--color-gray-100);
  margin-left: 2rem;
}

@media (max-width: 700px) {
  .steps {
    margin-bottom: 3rem;
  }
}