.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 10rem;
  justify-content: center;
  font-size: 1.6rem;
}

.pagination a,
.pagination button {
  width: 2.2em;
  aspect-ratio: 1/1;
  display: block;
  text-align: center;
  line-height: 2.2em;
  cursor: pointer;
  transition: all .3s;
}

.pagination a:hover,
.pagination button:hover {
  font-weight: bold;
}

.pagination li {
  border-radius: 1rem;
}

.pagination .act {
  background: var(--color-gray-50);
  font-weight: bolder;
}

.pagination button:disabled {
  opacity: 0.4;
  pointer-events: none;
}

@media (max-width: 767px) {
  .pagination {
    font-size: 1.4rem;
  }
}