.footer {
  background: var(--color-gray-30);
  padding: 3em var(--layout-padding) 4em;
  font-size: 1.6rem;
  margin-top: auto;
}

.info {
  display: flex;
  flex-wrap: wrap;
  gap: .4em 2rem;
  max-width: fit-content;
  padding-right: 2em;
}

.info+.info {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid var(--color-gray-50);
}

.strong {
  font-weight: bold;
}

.copyright {
  color: var(--color-gray-100);
  margin-top: .4rem;
}

@media (max-width: 767px) {
  .footer {
    font-size: 1.4rem;
    padding-top: 2em;
  }
}