.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  background: #fff;
  border-bottom: 1px solid var(--color-primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-size: 1.8rem;
  padding: 2rem 0;
  z-index: 99;
  white-space: nowrap;
}

.logo {
  z-index: 1;
}

.logo img {
  width: 4.5rem;
}

.gnb ul {
  display: flex;
  font-weight: bold;
  gap: 8rem;
}

.gnb ul a {
  transition: all 0.3s;
}

.gnb ul a[aria-current="page"] {
  color: var(--color-primary);
}

.gnb ul a:hover {
  color: var(--color-primary);
}

.userMenu {
  display: flex;
  gap: 8rem;
}

.userMenu li * {
  display: block;
  width: 2.6rem;
  height: 2.8rem;
  background: url(/img/ico-user.svg) no-repeat center / cover;
  transition: all 0.3s;
  background: url(/img/ico-user.svg) no-repeat center / 2.6rem;
  transition: all 0.3s;
}


.userMenu .login:hover {
  background-image: url(/img/ico-user-primary.svg);
}

.userMenu .recent {
  background-image: url(/img/ico-recent.svg);
}

.userMenu .recent.act,
.userMenu .recent:hover {
  background-image: url(/img/ico-recent-primary.svg);
}

.hamburgerButton {
  position: absolute;
  right: var(--layout-padding);
  width: 2.4rem;
  aspect-ratio: 1/0.8;
}

.hamburgerButton i {
  display: block;
  border-radius: 1rem;
  width: 100%;
  height: 2px;
  margin: 0.6rem 0;
  background: var(--color-gray-100);
  transition: all 0.3s;
}

.hamburgerButton.isClicked i:nth-child(1) {
  transform: translateY(0.8rem) rotate(45deg);
}

.hamburgerButton.isClicked i:nth-child(2) {
  opacity: 0;
}

.hamburgerButton.isClicked i:nth-child(3) {
  transform: translateY(-0.8rem) rotate(-45deg);
}

.hamburgerMenu {
  display: flex;
  align-items: center;
  gap: 8rem;
}

.fixedWr {
  position: fixed;
  right: var(--layout-padding);
  bottom: var(--layout-padding);
  z-index: 1;
}

.toTop {
  border-radius: 1em;
  border: 2px solid var(--color-gray-50);
  background: #fff;
  width: 9rem;
  height: 9rem;
  background: rgba(255, 255, 255, 0.7) url(/img/ico-totop.svg) no-repeat center / 1.8em;
  transition: all 0.3s;
  backdrop-filter: blur(1rem);
}

.toTop:hover {
  background-image: url(/img/ico-totop-primary.svg);
  border-color: var(--color-primary);
}

.recentlyViewList {
  position: fixed;
  top: 8.5rem;
  right: 0;
  width: 40vw;
  height: calc(100vh - 8.5rem);
  z-index: 3;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.recentlyViewList::before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .3);
  width: 90vw;
  height: 100vh;
  z-index: -2;
}

.recentlyViewList.act {
  opacity: 1;
  visibility: visible;
}

.recentlyViewList nav {
  min-height: 100%;
  background: #fff;
  padding: var(--layout-padding);
  padding-top: 0;
}

.recentlyViewList h3 {
  font-size: 2rem;
  position: sticky;
  top: 0;
  background: #fff;
  padding: var(--layout-padding) 0;
}

.recentlyWr {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: var(--title-small);
}

.recentlyWr li a {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: var(--title-small);
}

.recentlyWr img {
  width: 100%;
  aspect-ratio: 1/0.8;
  object-fit: cover;
  border-radius: 1rem;
}

@media (max-width: 767px) {
  .header {
    font-size: 1.6rem;
    padding: 0.8rem 0;
    flex-wrap: wrap;
    gap: 0;
  }

  .logo img {
    width: 10rem;
  }

  .fixedWr {
    bottom: 3rem;
  }

  .toTop {
    width: 5rem;
    height: 5rem;
    background-size: 1.8rem;
  }

  .hamburgerMenu {
    position: fixed;
    top: 5.7rem;
    width: 100vw;
    height: 100vh;
    background: #fff;
    align-items: flex-start;
    flex-direction: column;
    gap: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
  }

  .hamburgerMenu.act {
    opacity: 1;
    visibility: visible;
  }

  .gnb {
    order: 1;
    width: 100%;
  }

  .gnb ul {
    flex-direction: column;
    gap: 0;
  }

  .gnb ul li {
    border-top: 1px solid var(--color-gray-50);
  }

  .gnb ul a {
    display: block;
    padding: 2rem;
  }

  .userMenu {
    gap: 0;
    width: 100%;
  }

  .userMenu li {
    width: 100%;
  }

  .userMenu li+li {
    border-left: 1px solid var(--color-gray-50);
  }

  .userMenu li * {
    margin: auto;
    width: 100%;
    padding: var(--layout-padding);
    height: 5rem;
  }

  .recentlyViewList {
    top: 5.5rem;
    height: calc(100vh - 5.5rem);
  }
}