.page {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  position: relative;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.button :hover {
  background-color: var(--color-secondary);
  transition: all 0.3s;
  color: white;
}

.list {
  font-size: 2.4rem;
  left: 0;
}
