.mypage {
  display: flex;
  gap: 2.6rem;
  width: calc(100% + (var(--layout-padding) * 2));
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: -10em;
  margin-top: -6rem;
}

.myheader {
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 9.5rem 2.6rem;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 30rem;
}

.myprofile {
  background-color: white;
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.myprofile img {
  width: 100%;
}

.user {
  font-size: var(--title-medium);
}

.logout-box {
  margin-top: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

/* modify */
.modify {
  flex-grow: 1;
  padding: 9.5rem 0;
  display: flex;
  flex-direction: column;
  row-gap: 4.5rem;
  padding-right: var(--layout-padding);
}

.mypage form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 5rem;
}

.mypage fieldset {
  display: flex;
  position: relative;
}

.mypage fieldset > p {
  position: absolute;
  bottom: 0;
  left: 19rem;
  transform: translateY(calc(100% + 1rem));
}

.mypage label {
  display: flex;
  align-items: center;
  width: 18rem;
  flex-shrink: 0;
}

.mypage input {
  border-radius: 1rem;
  border-color: var(--color-gray-100);
  flex-grow: 1;
}

.profile {
  margin-left: 0;
  flex-shrink: 0;
  width: 18rem;
  align-self: auto;
}

.profile button {
  height: 2.5rem !important;
}

.flexWr {
  display: flex;
  width: 100%;
}

@media (max-width: 767px) {
  .mypage {
    flex-direction: column;
    gap: 1rem;
    width: unset;
    left: unset;
    transform: unset;
    margin-bottom: -5em;
    margin-top: -3.2rem;
  }

  .myheader {
    padding: 2rem;
    gap: 1rem;
  }

  .myprofile {
    width: 10rem;
    height: 10rem;
  }

  .mypage Button {
    height: 4rem;
    line-height: 0;
    margin-left: 0;
  }

  .logout-box {
    margin-top: unset;
  }

  .mypage form {
    row-gap: 3rem;
    width: 100%;
  }

  .mypage fieldset {
    flex-direction: column;
    align-items: unset;
    gap: 1rem;
  }

  .mypage fieldset > p {
    left: 1rem;
    transform: translateY(calc(100% + 0.2rem));
  }

  .modify {
    padding: 4rem 0;
    flex-direction: column;
    row-gap: 4.5rem;
    padding-right: unset;
  }
}
