.pageside {
  background-color: var(--color-secondary);
  position: relative;
  top: -8rem;
  left: -3rem;
  display: flex;
  height: 100vh;
  width: 70rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  background-color: white;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.user {
  font-size: 2.4rem;
  margin-bottom: 50rem;
}
