.subTitle {
  text-align: center;
  font-size: var(--title-medium);
  margin-top: 4em;
  border-bottom: 1px solid var(--color-gray-50);
  padding: 1em 0;
  margin-bottom: 1.4em;
}

@media (max-width: 767px) {
  .subTitle {
    padding: 0.6em 0;
    margin-bottom: 1em;
    margin-top: 3em;
  }
}