.search {
  margin-top: 3rem;
  text-align: center;
}

.typeWr {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem 3rem;
}

.type {
  display: flex;
  align-items: center;
  gap: 1em;
}

.type h3 {
  font-size: var(--title-medium);
}

.type nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.8em;
}

.type button+button {
  margin: 0 !important;
}

.inputWr {
  position: relative;
  margin: 2rem auto 0;
  max-width: 60rem;
}

.inputWr input {
  border: 2px solid var(--color-secondary);
  background-color: var(--color-secondary-30);
  border-radius: 1em;
  height: 6rem;
  width: 100%;
  font-size: var(--title-medium);
  text-indent: .9em;
}

.inputWr button {
  background: url(/img/ico-search-primary.svg) no-repeat center / 3rem;
  width: 6rem;
  aspect-ratio: 1/.8;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border-left: 2px solid var(--color-secondary);
  transition: all .3s;
}

@media (max-width: 767px) {
  .type {
    flex-direction: column;
  }

  .type nav {
    width: 21rem;
  }
}