.search {
  margin-top: 3rem;
  text-align: center;
}

.typeWr {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem 3rem;
}

.type {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.type h3 {
  font-size: var(--title-medium);
}

.type nav {
  display: flex;
  gap: .8rem;
}

.inputWr {
  position: relative;
  margin: 2rem auto 0;
  max-width: 126rem;
}

.inputWr input {
  border: 3px solid var(--color-secondary);
  background-color: var(--color-secondary-30);
  border-radius: 2.4rem;
  height: 12.4rem;
  width: 100%;
  font-size: var(--title-medium);
  text-indent: 4.8rem;
}

.inputWr button {
  background: url(@/assets/ico-search-primary.svg) no-repeat center / 5rem;
  width: 12rem;
  aspect-ratio: 1/.8;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border-left: 3px solid var(--color-secondary);
  transition: all .3s;
}