.typeWr {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem 3rem;
}

.type {
  display: flex;
  align-items: center;
  gap: 1em;
}

.type h3 {
  font-size: var(--title-medium);
}

.type nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.8em;
}

.type button+button {
  margin: 0 !important;
}


@media (max-width: 767px) {
  .type {
    flex-direction: column;
  }

  .type nav {
    width: 21rem;
  }
}