.ingredientWr {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  font-size: 1.8rem;
}

.ingredientWr img {
  width: 100%;
  max-width: 40rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 1rem;
}

.rightWr {
  width: 50%;
  max-width: 45rem;
}

.info {
  display: flex;
  flex-wrap: wrap;
  gap: .6rem 2.4rem;
}

.info li {
  display: flex;
  gap: .6rem;
  width: 29%;
}

.ingredient {
  margin-top: 2rem;
}

.ingredient ul {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  flex-wrap: wrap;
  gap: 0.6rem 1rem;
}

.ingredient li {
  font-size: 1.6rem;
  position: relative;
  display: flex;
  gap: .4rem;
  /* width: 48%; */
}

.ingredient li::before {
  content: '';
  background: url(/src/assets/ico-check.svg) no-repeat center / cover;
  width: 2.4rem;
  height: 2.4rem;
  margin-top: -0.2rem;
  flex-shrink: 0
}