.list {
  margin-top: -3.5rem;
}

.list article {
  position: relative;
  padding-top: 2rem;
}

.list article + article {
  margin-top: 2.5rem;
  border-top: 1px solid var(--color-gray-30);
}

.list .time {
  color: var(--color-gray-100);
}

.list .rightWr {
  width: 100%;
}

.list .contentWr {
  width: 100%;
}

.list .contentWr p {
  white-space: pre-line;
}

.list .buttonWr {
  display: flex;
  margin-top: 1rem;
}

@media (max-width: 767px) {
  .list {
    margin-top: -2.5rem;
  }

  .list article:first-child {
    margin-top: 0;
  }

  .list article {
    flex-wrap: wrap;
  }

  .list .rightWr {
    width: calc(100% - 6.3rem);
  }

  .list .buttonWr {
    margin-top: 0.6rem;
  }
}
