.list article:first-child {
  margin-top: -1.4rem;
}


.list article+article {
  margin-top: 1.8rem;
  padding-top: 1.8rem;
  border-top: 1px solid var(--color-gray-30);
}

.list .time {
  color: var(--color-gray-100);
}

.list .rightWr {
  width: 100%;
}

.list .contentWr {
  width: 100%;
}

.list .buttonWr {
  /* display: flex;
  margin-top: 1rem; */
  position: absolute;
  top: .6rem;
  right: 0;
}

.list article:first-child .buttonWr {
  top: -1.3rem;
}

.list .buttonWr button {
  background: url(/img/ico-close.svg) no-repeat center / cover;
  width: 2.8rem;
  aspect-ratio: 1 / 1;
}


@media (max-width: 767px) {
  .list article:first-child {
    margin-top: 0;
  }

  .list .rightWr {
    width: calc(100% - 6.3rem);
  }

}