.replyRegisterWr {
  margin-top: 3rem;
  border-top: 1px solid var(--color-gray-50);
}

.replyRegister {
  padding-top: 2rem;
}

.replyRegister input[type="radio"] {
  display: none;
}

.replyRegister button[type="submit"] {
  margin-top: 1.6rem;
}

.replyRegister .noLogin a {
  color: var(--color-primary);
  border-bottom: 1px solid;
}

.replyRegister .ratingErrorMsg {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(calc(100% + 0.4rem));
  width: max-content;
  margin: 0;
}

.replyRegister .contentErrorMsg {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(calc(100% + 0.4rem));
}

.replyRegisterModify {
  margin-top: 2.5rem;
  border-top: 1px solid var(--color-gray-30);
}

.buttonWr {
  text-align: center;
}

@media (max-width: 767px) {
  .replyRegisterWr {
    margin-top: 3rem;
  }

  .replyRegister .attachWr {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 8rem;
    transform: translateY(50%);
  }

  .replyRegister .contentErrorMsg {
    bottom: 1rem;
    left: 1rem;
    transform: none;
  }

  .attachWr {
    width: 100%;
  }

  .attachWr label {
    border-radius: 50%;
    background-size: 4rem;
  }

  .attachWr button {
    top: 0;
    right: 0;
  }
}
