.replyRegister {
  margin-top: 2.4rem;
  padding-top: 2rem;
  border-top: 1px solid var(--color-gray-50);
}

.replyRegister button[type="submit"] {
  margin-top: 1.6rem;
  align-self: center;
}

.noLogin a {
  color: var(--color-primary);
  border-bottom: 1px solid;
}