.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner {
  max-width: 60rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6.6rem;
  box-sizing: border-box;
}


@media (max-width: 767px) {
  .inner {
    gap: 3rem;
  }
}