.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner {
  width: 48rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6.6rem;
  box-sizing: border-box;
}

/* form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
} */
