:root {
  font-family: 'NanumSquareNeo', sans-serif;
  font-size: 62.5%;

  --color-primary: #DA240F;
  --color-primary-80: #E54D22;
  --color-primary-30: #FFE7E2;
  --color-secondary: #F2C166;
  --color-secondary-30: #FFF9E2;
  --color-black-100: #000;
  --color-gray-100: #999;
  --color-gray-50: #E5E5E5;
  --color-gray-30: #F2F2F2;

  --layout-container-pc: 1680px;
  --layout-padding-pc: 3rem;
  --layout-padding-mo: 1.5rem;

  --title-big: 4.8rem;
  --title-medium: 2.4rem;
}

body {
  min-height: 100vh;
  font-size: 1.4rem;
}

.hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
}

@media (min-width: 1025px) and (max-width: 1680px) {
  :root {
    font-size: 58%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  :root {
    font-size: 56%;
  }
}

@media (min-width: 501px) and (max-width: 767px) {
  :root {
    font-size: 64%;
  }
}

@media (min-width: 351px) and (max-width: 500px) {
  :root {
    font-size: 62.5%;
  }
}

@media (max-width: 350px) {
  :root {
    font-size: 58%;
  }
}