:root {
  font-family: 'NanumSquareNeo', sans-serif;
  font-size: 62.5%;

  --color-primary: #DA240F;
  --color-primary-80: #E54D22;
  --color-primary-30: #FFE7E2;
  --color-secondary: #F2C166;
  --color-secondary-30: #FFF9E2;
  --color-black-100: #000;
  --color-gray-100: #999;
  --color-gray-50: #E5E5E5;
  --color-gray-30: #F2F2F2;

  --layout-container-pc: 1680px;
  --layout-container-tablet: 1080px;
  --layout-padding: 3rem;

  --title-big: 4.8rem;
  --title-medium: 2.4rem;
  --title-small: 1.8rem;
}

body {
  font-size: 1.4rem;
}

#root {
  min-height: 100vh;
  width: 100%;
  max-width: 1920px;
  overflow-x: hidden;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
}

.pc {
  display: inline-block;
}

.mo {
  display: none;
}

.errorMsg {
  color: var(--color-primary);
  margin-top: 0.6rem;
}

.swiper-wrapper {
  position: relative;
}

.swiper-slide img {
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 1.2rem;
  overflow: hidden;
}

.swiper-button-prev,
.swiper-button-next {
  background: #fff url(/img/ico-arrow.svg) no-repeat center / cover;
  border: 2px solid #000;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  margin: 0;
  color: transparent;
  top: 50%;
  display: block;
  display: none;
}

.swiper-button-prev {
  transform: translate(-50%, -90%) rotate(180deg);
  left: 0;
}

.swiper-button-next {
  transform: translate(50%, -90%);
  right: 0;
}

.swiper .swiper-pagination {
  height: 2px;
  top: auto;
  bottom: 0;
  opacity: 0.8;
}

.swiper .swiper-pagination span {
  background: var(--color-primary-80);
}

@media (min-width: 1025px) and (max-width: 1680px) {
  :root {
    font-size: 57%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  :root {
    font-size: 54%;
  }
}

@media (max-width: 767px) {
  :root {
    --layout-padding: 1.5rem;

    --title-big: 2.4rem;
    --title-medium: 1.8rem;
    --title-small: 1.4rem;
  }

  body {
    font-size: 1.3rem;
  }

  .pc {
    display: none;
  }

  .mo {
    display: inline-block;
  }

  .swiper {
    width: calc(100% + 3rem);
    padding: 0 1.5rem 3rem;
    margin-left: -1.5rem;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

  .swiper .swiper-pagination {
    width: calc(100% - 3rem);
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (min-width: 501px) and (max-width: 767px) {
  :root {
    font-size: 64%;
  }
}

@media (min-width: 351px) and (max-width: 500px) {
  :root {
    font-size: 62.5%;
  }
}

@media (max-width: 350px) {
  :root {
    font-size: 57%;
  }
}